<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/libs/bootstrap.css">
    <script src="/static/js/libs/bootstrap.js" ></script>

</head>
<body>
    <div align="center" width="80%">
        <div class="alert alert-primary" role="alert">
          CS2B01 - Plataform-Based Development
        </div>
        <img src="/static/images/cs.png"/>
        <div class="alert alert-primary" role="alert">
            12345678 --- Jesus Bellido
        </div>

        <div class="alert alert-primary" role="alert">
            <a href="/static/users.html" >CRUD USERS</a>
        </div>
        <div class="alert alert-primary" role="alert">
            <a href="/static/messages.html" >CRUD MESSAGES</a>
        </div>


        <br/>
    </div>
</body>
</html>
